apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: {{ .Values.nameOverride | default .Release.Name }}
  labels:
    release: {{ .Values.promStackRelease }} 
spec:
  selector:
    matchLabels:
      app: {{ .Values.nameOverride | default .Release.Name }}
  podMetricsEndpoints:
    - port: http
      path: /metrics
      interval: 15s